.header {
    display: flex !important;
    justify-content: space-between !important;
    gap: 5rem !important;
}

.createButton {
    background-color: #262627 !important;
    border-radius: 50px !important;
}

.card {
    width: 400px;
}

.inviteCard {
    height: 80px;
    overflow: auto;
}