.certificate {
    width: 1123px !important;
    height: auto !important;
    /* background-image: url('../../assets/Images/Certificate.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 400px 200px !important;
    background-position: right 10px top 10px !important; */
}