.a4 {
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    width: 794px;
    height: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.td,
.th {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
}

.th {
    font-weight: bold;
}

/* .tr:nth-child(even) {
    background-color: #dddddd;
} */